<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Rcourses.GitHub.io by rcourses</title>
{{ content }}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>R Courses</h1>
        <p></p>
        <p class="view"><a href="http://www.ncl.ac.uk/maths/rcourse/">R Course Website</a></p>
        <p class="view">Test</p>

        <p class="view"><a href="https://github.com/csgillespie">View My GitHub Profile</a></p>
      </header>
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <!-- <script src="javascripts/scale.fix.js"></script> -->
    
  </body>
</html>
